.cartContainer {
  .cartParent {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    .cartWrapper {
      background: #bedeef;
      padding: 14px;
      border-radius: 3px;
      margin: 15px;
      font-family: arial;
    }
    .cartItems {
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 40px 0 rgb(0 0 0 / 8%);
      background-color: #ffffff;
      margin: 15px;
      .itemDetails {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .title {
          font-size: 0.938rem;
        }
        .incAndDec {
          line-height: 1;
          font-size: 1rem;
          min-width: 65px;
          padding: 4px 15px;
          background: #bedeef;
          margin: 0 10px;
          cursor: pointer;
        }
      }
    }
    .noItem {
      display: flex;
      justify-content: center;
      font-size: 1.25rem;
    }
    .orderSummary {
      padding: 50px;
      border-radius: 5px;
      box-shadow: 0 0 40px 0 rgb(0 0 0 / 8%);
      background-color: #ffffff;
      margin: 15px;
      .grey-border {
        border-top: 1px solid grey;
        padding-top: 15px;
      }
      .summary {
        font-size: 1.125rem;
        font-weight: bold;
      }
      .outer-parent {
        justify-content: space-between;
        margin: 20px 0;
      }
    }
  }
}
