.EmptyCartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  margin: auto;
  height: 90vh;
  width: 30%;
  font-family: "Aerial";

  .text {
    font-size: 1.563rem;
  }
  .submitButton {
    margin-top: 20px;
  }
}
